version: '3.8'

services:
  backend:
    build: .
    container_name: coffee_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: gunicorn -k uvicorn.workers.UvicornWorker api.main:app --bind 0.0.0.0:8000 --workers 1 --timeout 120
