fastapi==0.116.0
pydantic==2.11.7
pydantic-settings==2.7.0
uvicorn==0.35.0
gunicorn

# LangChain / LangGraph
langchain==0.3.26
langchain_core==0.3.68
langchain_openai==0.3.28
langchain_pinecone==0.2.8
langchain-huggingface<1.0.0
langgraph==0.5.2

# Vector DB
pinecone==7.3.0

# Supabase
supabase==2.16.0

# Utilities
python-dotenv==1.1.1
httpx
pandas==2.3.1
mlxtend==0.23.4
